.wy-side-nav-search, .wy-nav-top {
  background: #0e0e0e;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
color: #243346;
}


.wy-nav-content a {
color: #243346;
}

.wy-nav-content {
  max-width: 1400px;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  background: #fff2f2;
  color: #243346;
  border-top: 3px solid #008080;
  display: block;
}

.rst-content .viewcode-link {
  color: #3c78e7;
} 